# personal notes
NOTES.txt 
TODO.txt

# Virtual Env 
Pipfile*

# src folder
src/__pycache__/

# output folder 
example_data/Analysis/
example_data/plots/
example_data/csv/

# build folder 
build/executable/*
!build/executable/.gitkeep
build/tmp/*
!build/tmp/.gitkeep
build/spec/*
!build/spec/.gitkeep

# gitignore
!.gitignore
